<p><%= flash[:notice] %> </p> <br/><br/>
<div style="float:right;"><%= link_to "Create New Blog Entry", new_blog_path %> </div>


<b> All Blogs in the system </b>
<% @blogs.each do |blog| %>
	<div style="margin:5px;border-bottom:2px solid red;">
		<%= blog.title  %><br/>
		<%= blog.description  %><br/>
		<%= blog.author %><br/>
		<%= blog.keywords %><br/>
		<%= blog.created_at %><br/>
		<%= link_to "Edit", edit_blog_path(blog) %> | <%= link_to "show", blog_path(blog) %> | <%= link_to "Delete", blog_path(blog), :method => "DELETE"  %>
</div>
<% end %>
